
node_modules/
npm-debug.log*
yarn-error.log*

.env


logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*


*.sqlite
*.sqlite3
/data/
*.seed


dist/
build/


.vscode/
.idea/
*.swp
*.swo


.DS_Store
Thumbs.db


/coverage
*.lcov


*.bak
*.tmp
*.old


socket.io/


uploads/
